@import "tailwindcss";
@import "tw-animate-css";
@import "./shadcn.css";

@theme {
	--font-sans: var(--font-inter);
	--font-serif: var(--font-newsreader);
}

@layer utilities {
	.font-instrument-serif {
		font-family: var(--font-instrument-serif);
	}

	.container-wrapper {
		@apply max-w-[1400px] mx-auto w-full flex flex-col;
	}

	.container {
		@apply px-4 xl:px-6 mx-auto;
	}
}

button {
	cursor: pointer;
}
